<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <solution>
      <add key="disableSourceControlIntegration" value="true" />
   </solution>
   <config>
      <add key="DependencyVersion" value="HighestPatch" />
      <!-- Defines a common package repository for all solutions -->
      <add key="repositoryPath" value=".\packages" />
   </config>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="nuget.dargon.io" value="http://nuget.dargon.io/" />
  </packageSources>
</configuration>
